body{
    font-family: 'Consolas';
    font-size: 2.7vh;
    background-color: #622194;
    color:white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

img {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}

/* SELECTION SETTINGS */
::selection {
background:  #a474b5; /* Safari */
}

::-moz-selection {
background:  #a474b5; /* Firefox */
}



/* MAIN SECTION*/
.main_section{
    font-family: 'Consolas';
    position: relative;
    display: flex;
    justify-content: center;
    width:100%;

    margin-top:2vh;
}

/* Title */
.main_title{
    margin-top: 12vh;
    text-align: center;

    width: 50vh;
    height: 5vh;

    border-radius: 2vh;
    background-color: #3c125c;
}


/* FORM*/
.form-block{
    font-family: 'Consolas';
    position: absolute;
    display: flex;
    justify-content: center;

    margin-top: 22vh;
}

/* User Data "Block"*/
.user_data_A{
    margin-top: 3vh;
    padding-top: 2vh;

    text-align: center;
    font-size: 4vh;

    width: 80vh;
    height: 10vh;

    background-color: #3c125c;
    border-radius: 2vh;
}

.user_data_B{
    margin-top: 3vh;
    padding-top: 2vh;

    text-align: center;
    font-size: 4vh;

    width: 80vh;
    height: 10vh;

    background-color: #3c125c;
    border-radius: 2vh;
}

/* User Data Input Style */
.user_a_value_style, .user_b_value_style{
    color: #352526;

    font-family: 'Consolas';
    font-size: 2.5vh;
    color: white;

    height: 6vh;
    width: 40vh;

    background-color: #3c125c;

    padding: 2vh;
    margin-bottom: 3vh;

    border: 0.4vh solid #a474b5;
    border-bottom: 0.4vh solid #a474b5;
    border-radius: 1vh;
}

.user_a_value_style:focus{
    outline: 0.1vh solid #a474b5;
    caret-color: #a474b5;
}

.user_b_value_style:focus{
    outline: 0.1vh solid #a474b5;
    caret-color: #a474b5;
}


.user_data_B{
    font-size: 4vh;
}

/* User Submit Button */
.user_submit{
    text-align: center;
}

.btn_submit{
    width: 17vh;
    height: 3vh;

    border: 0.2vh solid white;
    border-radius: 2vh;

    cursor: pointer;

    background-color: #a474b5;
    color: #efe1f2;

    font-size: 2vh;
    font-family: 'Consolas';
    transition: all 0.3s;
}

.btn_submit:hover{
    background: #371d40;
    color: #a474b5;
    border: 0.2vh solid #a474b5;
}


/* Result Block */

.result-block{
    font-family: 'Consolas';
    position: absolute;
    display: flex;
    justify-content: center;

    margin-top: 57vh;
}

.result_merge,
.result_intersection,
.result_difference,
.result_symmetrical_difference {
    padding-bottom: 2vh;
    font-size: 3.5vh;
}

.style-merge-a-b,
.style-intersection-a-b,
.style-difference-a-b,
.style-symmetrical-difference-a-b{
    padding-top:1.7vh;
    text-align: center;

    width: 160vh;
    height: 7vh;
    background-color: #3c125c;
    border-radius: 2vh;
}


/* ABOUT OPERATIONS*/

/* Get Info Button */
.button-about-operations{
    position: absolute;
    top: 0;
    right: 0;

     margin-right: 8vh;
     margin-top: -1vh;
}

.btn-info {
    position: absolute;

    background-color: #a474b5;
    color: white;

    width: 3vh;
    height: 2.8vh;

    font-size: 2.2vh;
    font-weight: 600;

    border-radius:10vh;
    border: 0.2vh solid white;
    cursor: pointer;
}

.btn-info:hover{
    background: #371d40;
    color: #a474b5;
    border: 0.2vh solid #a474b5;
}

/* Block with Info */
.info-about-operations{
    font-family: 'Consolas';
    position: absolute;

    justify-content: center;

    width: 52vh;
    height: 53vh;

    background-color:#3c125c;

    margin-left:20vh;
    margin-top: 2.5vh;

    border-radius: 2vh;
    padding: 2vh;

    display: none;

}


/* Title */
.title-about-operations{
    width: 45vh;
}

/* Example */
.example-about-operations{
    font-size: 1.5vh;
    font-weight: 600;
}

/* Main Info */
.main-info-about-operations{
    padding-top: 1vh;

}

/* Operation name */
.operation-name{
    font-size: 2vh;
}

/* Info about operation */
.operation-info{
    padding-top: 1vh;
    font-size: 1.4vh;
}

/* Operation Result Example*/
.res-example{
    font-size: 1.5vh;
    font-weight: 600;

    padding-top: 1vh;
    padding-bottom: 1vh;
}
