<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static',  filename='css/main.css' )}}">
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/info.css' rel='stylesheet'>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <title>Operations On Sets</title>
</head>

<body>
    <header class="header">
        <div class="container">

            <div class="header-top">
                <div class="header-top-logo">
                    <div class="header-top-title">
                        Sets Stuff
                    </div>
                </div>

            <nav class="nav">
                <a href="{{ url_for('index') }}" class="nav-link">Main Operations</a>
                <a href="{{ url_for('complement') }}" class="nav-link">Complement</a>
            </nav>

            </div>
        </div>
</header>
    {% block body %}{% endblock %}
</body>
</html>