{% extends 'base.html' %}
{% block title %} Operations On Sets - Complement {% endblock %}
{% from "macros/macros.jinja2" import complement_op %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block body %}

    <!-- Info about operations block-->
    {% block info%}

        <!-- Info about operations -->
        <div class="info-about-operations">

            <!-- Title -->
            <div class="title-about-operations">
                <h3 class="example-about-operations">{{ complement_data.example_about_operation1 }}</h3>
                <h3 class="example-about-operations">{{ complement_data.example_about_operation2 }}</h3>
            </div>

            <!-- About Operations -->
            <div class="main-info-about-operations">
                {% for operation in complement_data.operations -%}
                    {{ complement_op(**operation) }}
                {% endfor -%}
            </div>

        </div>
    {% endblock %}

    <!-- Main Content-->
    <div class="container">
        <!-- Title -->
        <div class="main_title">
            <h1 class="text_center">Enter Sets</h1>
        </div>
    </div>

    <!-- Form -->
    <div class="form-block">

         <!-- Form With User Data and Submit Btn, like user input a/b -->
        <form action="{{ url_for('complement') }}" method="post" class="get-res-form">
            {{ complement_form.csrf_token }}

            <!-- User Submit Button -->
            <div class="user_submit">
                {{complement_form.user_submit_btn(class="btn_submit")}}

            </div>

            <div class="user-data-content">

                    <!-- User data A -->
                    <div class="user_data_A">
                        {{complement_form.user_U_value.label}}
                        { {{complement_form.user_U_value(size=40, autocomplete="off", class="user_a_value_style")}} }
                    </div>

                    <!-- User data B -->
                    <div class="user_data_B">
                        {{complement_form.user_a_value.label}}
                        { {{complement_form.user_a_value(size=40, autocomplete="off", class="user_b_value_style")}} }
                    </div>

            </div>
        </form>
    </div>

    <!-- Result Block -->
    <div class="result-block">

        <div class="result">
            <!-- Result Complement -->
            <div class="result_complement">
                <h5 class="style-complement-u-x">X′ = { {{ res_complement }} }</h5>
            </div>


        </div>
    </div>


{% endblock %}
